body {
	font-family: Arial, sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 0 4px;
	border-spacing: 0;
	width: 4%;
	min-height: 36px;
	/* border: 1px solid red;*/
}

td span {
	font-size: 10px;
	line-height: 36px;
	display: inline-block;
}

.count156 {
	list-style: none;
	margin: 0;
}

.count156 h3,
.count156 h4 {
	display: none;
}

.count156 li {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
}